@media (min-width: 1000px){
.grid{
    display:grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: auto auto;
    margin:2rem;
    align-items:center;
}

#imgg1{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
}

.coffeemenu{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:3;
}

#imgg2{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
}

.snacksmenu{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:3;
}
}


h1{
    margin:2rem;
    padding:1rem;
    background-color: #AA5042;
    color: #4F3130;
}

#imgg1, #imgg2{
    padding-left:4.5rem;
}

@media (max-width:500px){
nav button{
    display:none;
}    

.contact-button {
    display: none;
}
}