
.ordertxt{
    background-color:#AA5042;
    color:#4F3130;
    margin-left:2rem;
    margin-right:2rem;
    padding-top:3rem;
    padding-bottom:3rem;
    padding-left:1rem;
}

button{
    background-color: #4F3130;
    color:#AA5042;
    font-size: large;
    width:10rem;
    height: 4rem;
    text-decoration: none;
    margin:0.5rem;
    border:none;
}

.img{
    margin-left:2rem;
    margin-right:2rem;
}


h1{
    margin:2rem;
    padding:1rem;
    background-color: #AA5042;
    color: #4F3130;
}

.img{
    margin-left:2rem;
    margin-right:2rem;
    width: 87rem;
    padding-top:0rem;
}



@media (max-width:500px){

.ordertxt{
    color:#4F3130;
    background-color:#AA5042;
    margin:2rem;
    margin-bottom:0rem;
    padding-bottom:0rem;
    padding:1rem;
    height:90%;
}

nav button{
    display:none;
}    

.contact-button {
    display: none;
}

.img{
    width:26.2rem;
}

}