    .dontshow{
        display:none;
    }

    .seemenu{
        background-color: #4F3130;
        border: none;
        color: #AA5042;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
    }

    .hamburger{
        display: none;
    }

    nav{
        display:flex;
        justify-content:space-around;
        align-items: center;
        gap:5rem;
        padding-right:1rem;
        font-size:25px;
        color:#4F3130;
        /*The a:link and a:hover are inside of the Nav CSS. That is what the first two errors are*/
    }

    a:link{
        text-decoration:none;
        color:#4F3130;
    }
    a:hover{
        color:#fff;
    }
    
    header{
        display:flex;
        justify-content:space-between;
        align-items: center;
        background-color: #AA5042;
    }
    
    body{
        background-color:#4F3130;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .coffeebeans{
        background-color:#AA5042;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin:2rem;
        color:#4F3130;
    }
    
    .org{
        display:flex;
        justify-content: left;
        padding-right: 38rem;
    }
    
    .coffeejpg{
        margin:0;
    }
    
    img{
        margin:1rem;
    }
    
    .hourscontact{
        background-color: #AA5042;
        margin:2rem;
        color:#4F3130;
        padding:2rem;
    }
    
    
    footer{
        background-color: #AA5042;
        font-size:25px;
        color:#4F3130;
       padding:1rem;
    }
    
    h1{
        margin:2rem;
        padding:1rem;
        background-color: #AA5042;
        color: #4F3130;
    }
    
    .about1{
        color:#4F3130;
        background-color:#AA5042;
        display:flex;
        justify-content: space-around;
        align-items:center;
        margin:2rem;
    }
    
    .about2{
        color:#4F3130;
        background-color:#AA5042;
        display:flex;
        justify-content: space-around;
        align-items:center;
        margin:2rem;
    }
    
    .coffeemenu{
        color:#4F3130;
        background-color:#AA5042;
        margin:1rem;
        padding:1rem;
        height:90%;
    }
    .snacksmenu{
        color:#4F3130;
        background-color:#AA5042;
        margin:1rem;
        padding:1rem;
        height:90%;
    }
    
    .header button{
        background-color: #4F3130;
        color:#AA5042;
        font-size: 25px;
        width:10rem;
        height: 4rem;
        text-decoration: none;
        margin:0.5rem;
        border:none;
    }
    
    .contact-button{
        background-color: #4F3130;
        border: none;
        color: #AA5042;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
    }



@media (max-width:500px){

    body{
        background-color:#4F3130;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .contact-button{
        display:none;
    }

    .dontshow{
        display: block;
        color: #4F3130;
        text-align: center;
        text-decoration: none;
        padding: 1rem;
    }

    a:link{
        text-decoration:none;
        color:#4F3130;
    }
    a:hover{
        color:#fff;
    }
    
    header{
        display:flex;
        flex-direction:column;
        align-items: center;
        background-color: #AA5042;
        padding-bottom:1rem;
    }

    footer{
        display:flex;
        flex-direction:column;
        align-items: center;
        background-color: #AA5042;
        color:#4F3130;
    }

    .coffeebeans{
        background-color:#AA5042;
        display:flex;
        flex-direction:column;
        align-items: center;
        margin:2rem;
        color:#4F3130;
    }

    .hourscontact{
        background-color: #AA5042;
        margin:2rem;
        color:#4F3130;
        padding:2rem;
    }
    
    .org{
        display: flex;
        flex-direction:column;
        align-items: center;
        font-size: 16px;
        padding:2rem;
    }
    
    .coffeejpg{
        margin:0;
        width:100%;
    }
    
    img{
        margin:1rem;
    }

    button{
        background-color: #4F3130;
        color:#AA5042;
        font-size: 15px;
        width:10rem;
        height: 3rem;
        text-decoration: none;
        border:none;
    }

    h1{
        margin:2rem;
        padding:1rem;
        background-color: #AA5042;
        color: #4F3130;
    }

    .about1{
        color:#4F3130;
        background-color:#AA5042;
        display:flex;
        flex-direction:column;
        align-items: center;
        margin:2rem;
        /*h2 is inside about1. Which is invalid for CSS*/
    }

    h2{
        margin:2rem;
    }

    .aboutt1, .aboutt2{
            margin:0;
            width:26rem;   
    }
    
    .about2{
        color:#4F3130;
        background-color:#AA5042;
        display:flex;
        flex-direction:column;
        align-items: center;
        margin:2rem;
        /*h2 is inside about2 which is invalid. If you want to call just the h2 in the about2 you need to do .about2 h2{} */
    }

    .coffeemenu{
        background-color: #AA5042;
        margin:2rem;
        color:#4F3130;
        padding:2rem;
    }
    .snacksmenu{
        background-color: #AA5042;
        margin:2rem;
        color:#4F3130;
        padding:2rem;
    }

    .hamburger{
        display: block;
        width: 40px;
        padding: .5rem;
    }
    
    .hamburger hr{
        margin: .75rem 0;
        border: 2px solid #4F3130;
    }
    
    header nav{
        background-color: #AA5042;
        position: fixed;
        width: 100%;
        left: 100%;
        top: 10rem;
        transition-property: left;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        flex-direction:column;
        padding-bottom:1.5rem;
    }
    
    header nav a{
        display: block;
        color: #4F3130;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
    }
    
    header{
        background-color: #AA5042;
        top: 0;
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items:center;
    }
    
    header nav.show{
        left:0;
    }
    
    .overlay{
        width: 100%;
        height: 100%;
        top: 10rem;
        position:fixed;
        background-color: #4f31302c;
        transition-property: left;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        left: -100%;
    }
    
    .overlay.show{
        left:0;
    }
}